.payment-icons img{
	max-height: 35px !important;
}
.single_add_to_cart_button, #place_order {
	min-height: 60px !important; 
	background-color: #3cad4a!important; 
	width: 100% !important; 
	font-size: 22px!important; 
	box-shadow: inset 0 -3px rgba(0,0,0,.1) !important; 
	border-radius: 4px; -webkit-font-smoothing: antialiased; box-sizing: border-box; 
}

.woocommerce-variation-price .woocommerce-Price-amount.amount {
	font-weight: bold !important;
	color: red !important;
	font-size: 25pt !important;
}

.quantity input[type="number"] {
    max-width: 5.5em !important;
    width: 5.5em !important;
}

.checkout-button {
    background: #3cad4a!important;
    border: 0 solid #3A8A27;
    border-bottom-width: 3px;
    border-radius: 3px;
    height: 54px;
    text-transform: none !important;
    font-size: 18px;
    min-height: 44px;
    padding-top: 5px;
}

@media only screen and (max-width: 768px) {
  [class*="col-md-"] {
    max-width: 49% !important;
  }
}

.variant-custom {
	list-style-type: none;
	display: flex;
    flex-wrap: wrap;
}

.variant-custom .variant-item {
	min-height: 35px !important;
	min-width: 40px !important;
	margin: 3px !important;
	box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.3);
    padding: 2px;
    margin: 4px 8px 4px 0;
}

.variant-custom .active {
	min-height: 35px !important;
	min-width: 40px !important;
	margin: 3px !important;
	box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 4px 8px 4px 0;

    border-color: #15cd72;
    color: #15cd72 !important;
    box-shadow: 0 0 0 2px #15cd72 !important;
    background-color: rgba(21,205,114,0.08);
}

.variant-custom .variant-item:hover {
	box-shadow: 0 0 0 1px rgba(0,0,0,.8);
}